body{
  font-family: sans-serif;
margin: 0;
}
a{
  text-decoration: double;
}

header{
  display: flex;
  align-items: center;
  background-color: coral;
  justify-content: space-between;
}

.logo{
  width: 70px;
}